

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 250px;
    min-width: 950px;
    border: 1px inset black;

    tr:nth-of-type(even) {
        background-color: rgba(25, 147, 251, 0.3);
      }

    tr {
        display: flex;
        justify-content: space-between;

        label {
            cursor: pointer;
        }

        .icon {
            cursor: pointer;
            position: fixed;
        }

        th {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            display: flex;

            .filter {
                align-items: center;
                justify-content: center;
                display: flex;
                margin-left: 5px;

                .icon {
                    cursor: pointer;
                }
            }
        }
    
        input {
            width: 100px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 5px;
        }

        td {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            align-items: center;
            justify-content: center;
        }
    }

    button {
        padding: 10px;
        border: none;
        background-color: #f1f1f1;
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
    }

    .active {
        border: 1px solid rgb(25, 147, 251);
    }   
}
